.minisweeper-row { 
  text-align:center; 
}
.minisweeper-cell { 
  display:inline-block;
  box-sizing:border-box;
  width:11%; 
  height:100%;
  background-color:#f0f0f0;
  border:2px solid #f0f0f0; 
}
.minisweeper-unrevealed { 
  border:2px outset #ececec;
  background:#c0c0c0; 
}
#minisweeper-controls { 
  padding-top:12px;
}
#minisweeper-controls>div { 
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding-bottom:6px;
}